@font-face {
    font-family: 'ubuntu-reg';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'ubuntu-light';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: 'ubuntu-med';
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: 'IBM-med';
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}
@font-face {
    font-family: 'IBM-reg';
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}