:root {
    --bg1: #292F36;
    --bg2: #1A1E23;
    --brand1: #12F7D6;
    --brand2: #98FAEC;
    --grey: #43454D;
    --white: #FFFFFF;
    --html: #E54F26;
    --css: #0C73B8;
    --js: #E7A020;
    --react: #28A9E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--bg1);
}

/*-------------------------------FIXED MENU-------------------------------*/

.fixed-menu{
    width: 5.5rem;
    height: 34rem;
    background-color: var(--bg2);
    position: fixed;
    top: 7rem;
    left: 7rem;
    border-radius: 3rem;
    padding: 0.5rem 0;
}

.fixed-menu-ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fixed-menu-li{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.fixed-menu-li > svg > path{
    transition: all 200ms ease-in-out;   
}

.fixed-menu-li:hover{
    background-color: var(--white);
}

.fixed-menu-li:hover > svg > path{
    fill: var(--bg1);
}


/*-------------------------------HEADER-------------------------------*/

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
}

.nav-bar{
    display: flex;
    height: 8rem;
}

.nav-bar > *{
    flex: 1;
}

.nav-logoname{
    display: flex;
    align-items: center;
}

.logo-icon{
    font-family: "IBM-med";
    font-size: 2.6rem;
    color: var(--brand1);
}

.logo-text{
    font-family: 'IBM-med';
    margin-left: 0.5rem;
    color: var(--white);
}

.nav-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-menu > :first-child{
    margin-right: 2rem;
}

.nav-menu > li{
    color: var(--white);
    font-family: 'IBM-reg';
}

.nav-menu > li > a:hover{
    color: var(--brand1);
}

.nav-menu > li > a{
    text-decoration: none;
    color: inherit;
    transition: all 200ms ease-in-out 50ms;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-links > li{
    color: var(--white);
    font-family: 'IBM-reg';
    font-size: 1.2rem;
}

.nav-links > li:hover > a > span{
    color: var(--brand1);
}

.nav-links > :nth-child(1),
.nav-links > :nth-child(2){
    margin-right: 1rem;
}

.nav-links > li > a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.nav-instagram-logo,
.nav-linkedin-logo,
.nav-github-logo{
    margin-right: 0.3rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator-line{
    background-color: var(--grey);
    width: 100%;
    height: 1px;
}