:root {
    --bg1: #292F36;
    --bg1-hover: #323A43;
    --bg2: #12161A;
    --bg2-hover: #1F242B;
    --brand1: #12F7D6;
    --brand1-hover: #0BC7AC;
    --brand2: #98FAEC;
    --grey: #43454D;
    --white: #FFFFFF;
    --html: #E54F26;
    --css: #0C73B8;
    --js: #E7A020;
    --react: #28A9E0;
    --tailwind: #38BDF8;
    --git: #F05033;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--bg1);
}


/*-------------------------------Components-------------------------------*/

.container{
    width: 80%;
}

.html-tags{
    font-family: 'IBM-reg';
    color: var(--brand2);
    font-size: 1.2rem;
}

.scroll-module{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.title-underline-module{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-underline-content{
    position: relative;
    width: 12rem;
    height: 0.2rem;
    background-color: var(--brand1);
}

.title-underline-content::before,
.title-underline-content::after{
    content: '';
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--brand1);
    border-radius: 50%;
}

.title-underline-content::before{
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-underline-content::after{
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

/*-------------------------------FIXED MENU-------------------------------*/

.fixed-menu{
    width: 5.5rem;
    height: 34rem;
    background-color: var(--bg2);
    position: fixed;
    top: 7rem;
    left: 7rem;
    border-radius: 3rem;
    padding: 0.5rem 0;
}

.fixed-menu-ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fixed-menu-li{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.fixed-menu-li > svg > path{
    transition: all 200ms ease-in-out;   
}

.fixed-menu-li:hover{
    background-color: var(--white);
}

.fixed-menu-li:hover > svg > path{
    fill: var(--bg2);
}


/*-------------------------------HEADER-------------------------------*/

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar{
    display: flex;
    height: 8rem;
}

.nav-bar > *{
    flex: 1;
}

.nav-logoname{
    display: flex;
    align-items: center;
}

.logo-icon{
    font-family: "IBM-med";
    font-size: 2.6rem;
    color: var(--brand1);
}

.logo-text{
    font-family: 'IBM-med';
    margin-left: 0.5rem;
    color: var(--white);
}

.nav-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-menu > :first-child{
    margin-right: 2rem;
}

.nav-menu > li{
    color: var(--white);
    font-family: 'IBM-reg';
}

.nav-menu > li > a:hover{
    color: var(--brand1);
}

.nav-menu > li > a{
    text-decoration: none;
    color: inherit;
    transition: all 200ms ease-in-out 50ms;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-links > li{
    color: var(--white);
    font-family: 'IBM-reg';
    font-size: 1.2rem;
}

.nav-links > li:hover > a > span{
    color: var(--brand1);
}

.nav-links > :nth-child(1),
.nav-links > :nth-child(2){
    margin-right: 1rem;
}

.nav-links > li > a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.nav-links > li > a > span{
    transition: all 200ms ease-in-out 50ms;
}

.nav-instagram-logo,
.nav-linkedin-logo,
.nav-github-logo{
    margin-right: 0.3rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator-line{
    background-color: var(--grey);
    width: 100%;
    height: 1px;
}

/*-------------------------------HOME-------------------------------*/

.home{
    display: flex;
    justify-content: center;
    padding: 5rem 0 8rem;
}

.home-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ubuntu-reg';
    color: var(--brand2);
    font-size: 5.8rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

.home-content{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.home-content > div{
    flex: 1;
}

.bio-box-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem;
    height: 43rem;
    border: 3px solid var(--white);
    border-top-left-radius: 11rem;
    border-bottom-right-radius: 11rem;
    padding: 2rem;
    box-shadow: -4px -4px 2px var(--brand1);
}

.bio-box > img {
    width: 8rem;
}

.bio-name{
    font-family: 'IBM-med';
    color: var(--white);
    margin-top: 0.8rem;
    font-size: 2.2rem;
}

.bio-job{
    font-family: 'IBM-reg';
    font-size: 1.1rem;
    color: var(--white);
    margin-top: 0.4rem;
}

.bio-ul{
    list-style: none;
    color: var(--white);
    font-family: 'IBM-reg';
    font-size: 1.2rem;
    margin-top: 2.5rem;
    width: 100%;
}

.bio-ul > li{
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
}

.bio-ul > li > span{
    margin-left: 1rem;
}

.bio-skills{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--bg1);
    font-family: 'IBM-reg';
    margin-top: 1rem;
}

.bio-skills > li{
    padding: 0 0.8rem;
    background-color: var(--brand1);
    border-radius: 0.8rem;
    font-size: 1.4rem;
}

.bio-btn{
    background-color: var(--white);
    margin-top: 1.8rem;
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
    color: var(--bg1);
    font-family: 'ubuntu-reg';
    border-radius: 3rem;
}

.bio-btn > span{
    margin-right: 1.5rem;
}

.home-description-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-description{
    max-width: 46rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.home-description-title{
    font-family: 'ubuntu-reg';
    color: var(--white);
    padding: 1rem 1.5rem;
    font-size: 3.8rem;
}

.home-description-title > span {
    color: var(--brand1);
}

.description-text{
    font-family: 'IBM-reg';
    font-size: 1.2rem;
    color: var(--white);
    padding: 1rem 1.5rem;
}

.home-contact-link{
    color: var(--brand1);
    font-family: 'IBM-med';
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: flex;
}

.home-contact-link:hover{
    transform:translateY(-2px);
    text-shadow:0 10px 25px rgba(18,247,214,.25);
}

.home-contact-link-svg-box{
    background-color: var(--grey);
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 1rem;
}

.experiences-box-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.experiences-box-ul{
    list-style: none;
    background-color: var(--bg2);
    padding: 4rem 2rem;
    width: fit-content;
    height: 28rem;
    color: var(--white);
    border-radius: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experiences-box-ul > li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experiences-box-ul > li > span{
    font-family: 'IBM-med';
    color: var(--brand1);
    font-size: 3.2rem;
}

.experiences-box-ul > li > p{
    max-width: 10rem;
    font-family: 'IBM-reg';
    font-size: 1.2rem;
}


/*-------------------------------ABOUT ME-------------------------------*/

.about-me{
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    background:linear-gradient(rgba(24,24,36,.8), rgba(24,24,36,.8)),url(../images/about-me-bg.png);
}

.about-me-wrapper{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.about-me-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-content-title{
    font-family: 'ubuntu-reg';
    color: var(--white);
    background-color: var(--bg1);
    width: fit-content;
    height: fit-content;
    padding: 1.5rem 2.5rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: 3px solid var(--brand1);
}

.about-me-content-description{
    max-width: 60rem;
    background-color: var(--bg1);
    padding: 2rem 3rem;
    border-radius: 3rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-me-content-description > h3{
    font-family: 'IBM-med';
    color: var(--brand1);
}

.about-me-content-description > p{
    font-family: 'IBM-reg';
    font-size: 1.4rem;
    color: var(--white);
}

.about-me-content-description > p > span{
    color: var(--brand1);
}

.about-me-img-wrapper > img{
    width: 34rem;
}


/*-------------------------------SKILLS-------------------------------*/

.skills{
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    background:linear-gradient(rgba(25, 35, 50, .8), rgba(25, 35, 50, .8)),url(../images/skills-bg.png);
}

.skills-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title{
    display: flex;
    justify-content: center;
    font-family: 'ubuntu-reg';
    color: var(--brand1);
    font-size: 3.8rem;
    font-weight: 100;
}

.skills-description{
    font-family: 'IBM-reg';
    color: var(--white);
}

.skills-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5rem;
    margin-top: 5rem;
}

.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cicular-progress{
    height: 120px;
}

.skill-circle{
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 50%;
}

.skill-name{
    font-family: 'IBM-med';
    font-size: 2rem;
    font-weight: 100;
}

.skill-box:nth-child(1) > .skill-name{
    color: var(--html);
}

.skill-box:nth-child(2) > .skill-name{
    color: var(--css);
}

.skill-box:nth-child(3) > .skill-name{
    color: var(--js);
}

.skill-box:nth-child(4) > .skill-name{
    color: var(--react);
}

.skill-box:nth-child(5) > .skill-name{
    color: var(--tailwind);
}

.skill-box:nth-child(6) > .skill-name{
    color: var(--git);
}


/*-------------------------------WORKS-------------------------------*/

.works{
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    background:linear-gradient(rgba(25, 35, 50, .8), rgba(25, 35, 50, .8)),url(../images/works-bg.png);
}

.works-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-title{
    display: flex;
    justify-content: center;
    font-family: 'ubuntu-reg';
    color: var(--brand1);
    font-size: 3.8rem;
    font-weight: 100;
}

.works-description{
    font-family: 'IBM-reg';
    color: var(--white);
}

.works-content{
    width: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.prev-btn,.next-btn{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg2);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.prev-btn:hover,
.next-btn:hover{
    background: var(--bg2-hover);
    transform:translateY(-2px);
    transform: scale(1.05);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.55);
}

.project{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 40rem;
}

.project > img{
    width: 100%;
}

.project-description{
    max-width: 100%;
    color: var(--white);
    text-align: center;
    font-family: 'ubuntu-reg';
}

/*-------------------------------BLOGS-------------------------------*/

.blogs{
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    background:linear-gradient(rgba(25, 35, 50, .8), rgba(25, 35, 50, .8)),url(../images/blog-bg.png);
}

.blogs-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-title{
    display: flex;
    justify-content: center;
    font-family: 'ubuntu-reg';
    color: var(--brand1);
    font-size: 3.8rem;
    font-weight: 100;
}

.blogs-description{
    font-family: 'IBM-reg';
    color: var(--white);
}

.blog-box{
    margin-top: 5rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 5rem 2rem;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.blog-box > img{
    width: 24rem;
    object-fit: contain;
    margin-right: 2rem;
}

.blog-content{
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-right: 2rem;
}

.blog-content-title{
    font-family: 'ubuntu-reg';
    font-size: 2.4rem;
    font-weight: 100;
    color: var(--brand1);
}

.blog-content-text{
    font-family: 'ubuntu-light';
    color: var(--white);
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
}

.blog-readmore{
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
}

.blog-readmore > p{
    border-bottom: 1px solid var(--white);
}

.blog-readmore > p,
.blog-readmore > span{
    font-family: 'ubuntu-light';
    color: var(--brand1);
    padding: .5rem 0;
    width: fit-content;
}

.blog-info{
    list-style: none;
    font-family: 'IBM-med';
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

.blog-info > li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.blog-info > li > span{
    font-family: 'ubuntu-light';
    font-size: 1.4rem;
}

.blogs-btns{
    display: flex;
    gap: 3rem;
    margin-top: 6rem;
}

.vm-btn,
.sub-btn{
    font-family: 'ubuntu-reg';
    color: var(--bg1);
    background-color: var(--brand1);
    padding: 1rem 2.5rem;
    border-radius: 6rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.vm-btn:hover{
    background: var(--brand1-hover);
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(18,247,214,.15);
}

.sub-btn{
    color: var(--white);
    background-color: var(--bg1);
    border: 2px solid var(--brand1);
}

.sub-btn:hover{
    background: var(--bg1-hover);
    transform:translateY(-2px);
    box-shadow: 0 10px 25px rgba(50, 58, 67, 0.35);
}

/*-------------------------------CONTACT-------------------------------*/

.contact{
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    background:linear-gradient(rgba(24,24,36,.8), rgba(24,24,36,.8)),url(../images/contact-bg.png);
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title{
    display: flex;
    justify-content: center;
    font-family: 'ubuntu-reg';
    color: var(--brand1);
    font-size: 3.8rem;
    font-weight: 100;
}

.contact-description{
    font-family: 'IBM-reg';
    color: var(--white);
}

.contact-content{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-content > h2{
    font-family: 'IBM-med';
    color: var(--brand1);
    font-weight: 100;
    border: 2px solid var(--brand1);
    padding: 1.2rem 3rem;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.contact-form{
    font-family: 'ubuntu-light';
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.contact-form > input{
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--brand2);
    color: var(--white);
}

.contact-form > input::placeholder{
    color: var(--white);
    font-weight: 100;
}

.contact-form > input:focus{
    outline: none;
}

.contact-form > input:focus::placeholder{
    opacity: 0.3;
}

.contact-form > label{
    width: 100%;
    color: var(--brand1);
}

.contact-form > textarea{
    width: 100%;
    height: 20rem;
    background-color: var(--bg1);
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--white);
    border-radius: 1rem;
    margin-top: 1rem;
}

.contact-form > textarea:focus::placeholder{
    opacity: 0.3;
}

.contact-form > textarea::placeholder{
    color: var(--white);
}

.contact-form > button{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: var(--brand1);
    color: var(--bg1);
    width: fit-content;
    padding: 1.5rem 2.5rem;
    border-radius: 3rem;
    margin-top: 4rem;
    margin-bottom: 0;
    font-family: 'ubuntu-reg';
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border: none;
}

.contact-form > button:hover{
    background: var(--brand1-hover);
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(18,247,214,.15);
}


/*-------------------------------FOOTER-------------------------------*/

footer{
    display: flex;
    justify-content: center;
    background-color: var(--bg1);
}

.footer-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.footer-copyright{
    display: flex;
    align-items: center;
    font-family: 'ubuntu-light';
    color: var(--white);
}

.footer-links{
    width: 15rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links > li{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand2);
    transition: all 200ms ease-in-out;
}

.footer-links > li:hover {
  background: #7EF5E3;
  transform: translateY(-2px);
  box-shadow:
    0 8px 20px rgba(152, 250, 236, 0.35),
    0 0 10px rgba(152, 250, 236, 0.5);
}

.footer-links > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links > li > a > svg{
    width: 2rem;
    height: 2rem;
}

.footer-links > li > a > path,
.footer-links > li > a > svg > path{
    fill: var(--bg1) !important;
}