:root {
    --bg1: #292F36;
    --bg2: #1A1E23;
    --brand1: #12F7D6;
    --brand2: #98FAEC;
    --grey: #43454D;
    --white: #FFFFFF;
    --html: #E54F26;
    --css: #0C73B8;
    --js: #E7A020;
    --react: #28A9E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}